#link {
    text-align: center;
}

#isplink {
    text-align: center;
}

#firstheader {
    text-align: center;
    font-size: 300%;
}

#p {
    text-align: center;
    font-size: 300%;
}

#p1 {
    text-align: center;
}
