body {
    background-color: white;
    color: black;
}

#isplink {
    text-align: left;
    transform: translate(195px, -5px);
    border: 2px solid red;
    width: 93px;
    padding: 5px;
}

#heading {
    font-size: 300%;
}

#center {
    text-align: center;
}

#firstheader {
    text-align: center;
    font-size: 300%;
    border: 5px solid black;
    border-radius: 60px;
    padding: 30px;
    background-color: white;
}

#secondheader {
    text-align: center;
    font-size: 220%;
}

#intro {
    text-align: center;
    font-size: 150%;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

#p1link {
    text-align: left;
    font-size: 150%;
}

#p {
    text-align: center;
    font-size: 150%;
}

#p2link {
    text-align: left;
    font-size: 150%;
    text-indent: 50px;
}

#p2 {
    text-align: left;
    font-size: 150%;
    padding: 20px;
    text-indent: 50px;
    border: 3px solid black;
}

#pic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#li1 {
    float: right;
}
